[submodule "docs"]
        path = docs
        url = https://github.com/TermuxArch/docsTermuxArch
[submodule "gen"]
        path = gen
        url = https://github.com/TermuxArch/genTermuxArch
[submodule "scripts"]
	path = scripts
	url = https://github.com/TermuxArch/scripts.TermuxArch
[submodule ".scripts/maintenance"]
	path = .scripts/maintenance
	url = https://github.com/shlibs/maintenance
