[submodule "docs"]
	path = docs
	url = https://github.com/sdrausty/docsTermuxArch
[submodule "scripts/frags/dfa"]
	path = scripts/frags/dfa
	url = https://github.com/sdrausty/dfa

[submodule "scripts"]
	path = scripts
	url = https://github.com/sdrausty/scriptsTermuxArch
[submodule "imgs"]
	path = imgs
	url = https://github.com/sdrausty/imgsTermuxArch
[submodule "gen"]
	path = gen
	url = https://github.com/sdrausty/gensTermuxArch
